# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Python caches
.pytest_cache/

# Dataset
backend/data/raw/
backend/data/processed/
backend/data/

# Trained models
backend/models/*.pth

# Evaluation outputs
backend/outputs/